__pycache__/
*.py[cod]
*.pyd
.Python
.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/

venv/
.venv/
env/

data/raw/**
!data/raw/.gitkeep
data/processed/**
!data/processed/.gitkeep

models/**
!models/.gitkeep

outputs/**
!outputs/.gitkeep
